@model IEnumerable<BibliotecaCacau.Models.DTO.ConsultaEmprestimoDTO>

@{
    ViewData["Title"] = "Consulta";
}

<h3>Consulta</h3>

<p>
    <a asp-action="Index">Novo Empréstimo</a>
</p>

<div id="app">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Autor</th>
                <th>Cliente</th>
                <th>DataEmprestimo</th>
                <th>DataDevolucao</th>
                <th>Status do livro</th>
                <th>Gerenciamento</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data, index) in info">
                <td>{{data.Livro}}</td>
                <td>{{data.Autor}}</td>
                <td>{{data.Cliente}}</td>
                <td>{{data.DataEmprestimo}}</td>
                <td>{{data.DataDevolucao}}</td>
                <td>{{data.StatusLivro}}</td>
                <td>
                    @*@Html.ActionLink("Detalhes", "PesquisarEmprestimo", new { nomeLivro = {{data.Livro}}, nomeCliente = item.Cliente, dataEmprestimo = item.DataEmprestimo })*@ 
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    info: null
                }
            },
            mounted() {
                axios
                    .get('/api/Emprestimo/ConsultarEmprestimo')
                    .then(response => (this.info = response.data))
            }
        })
    </script>
}