<h1>Empréstimo de Livros</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EfetuarEmprestimo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cliente</label>
                <input class="form-control" name="Cliente" id="cliente" />
            </div>
            <div class="form-group">
                <label class="control-label">Livro</label>
                <input class="form-control" name="Livro" id="livro" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section scripts{ 
    <script>
        $('#cliente').autocomplete({
            source: 'Emprestimo/PesquisarClientes',
            minLength: 1
        });

        $('#livro').autocomplete({
            source: 'Emprestimo/PesquisarLivros',
            minLength: 1
        })
    </script>
}
