@model IEnumerable<BibliotecaBookHub.Models.DTO.LivroDTO>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "List";
    string login = Context.Session.GetString("_Login");
}

<h1>Cadastro de Livros</h1>

@if (login != null)
{
    <p>
        <a asp-action="Create">Adicionar Livro</a>
    </p>
}

<div id="app">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Gerenciamento</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data, index) in info">
                <td>{{data.Nome}}</td>
                <td>{{data.Autor}}</td>
                <td>{{data.Editora}}</td>
                <td>
                    @if (login != null)
                    {
                        <a>
                            @Html.ActionLink("Editar", "Edit") |
                            @Html.ActionLink("Detalhes", "Details") |
                            @Html.ActionLink("Exclusão", "Delete")
                        </a>
                    }
                </td>
            </tr>

        </tbody>
    </table>
</div>

@section scripts {

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    info: null
                }
            },
            mounted() {
                axios
                    .get('/api/Livro/ObterLivros')
                    .then(response => (this.info = response.data))
            }
        })
    </script>
}

